/* refrac + format Stylesheet */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.flashSuccess {
    position: fixed;
    text-align: center;
    width: 100%;
    transition: .3s;
    padding-top: 20px
}

.flashSuccess span {
    background: white;
    border: 2px #ff80b0 solid;
    border-radius: 15px;
    padding: 3px 5px;
}

.create-article {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: #ff80b0;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
    transition: .3s;
}

.create-article a {
    display: block;
    font-size: 80px;
    text-decoration: none;
    color: white;
    margin-top: -26px;
}

.create-article:hover {
    background-color: #ff5e9c;
}

.article-tooltip {
    position: absolute;
    right: -30px;
    bottom: 80px;
    width: 150px;
    font-size: 16px;
    color: black;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.article-tooltip div {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 56px;
}

.create-article:hover .article-tooltip,
.submit-btn:hover .article-tooltip, .del-btn:hover .article-tooltip{
    visibility: visible;
    opacity: 1;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(170, 170, 170) solid;
}

.title {
    float: left;
    margin-top: -25px;
    margin-left: 10px;
}

.title a {
    text-decoration: none;
}

.title h1 {
    color: #ff80b0;
    text-shadow: rgba(0, 0, 0, 0.3) -2px 1px;
}

.title p {
    margin-top: -20px;
}

.avatar {
    border-radius: 100%;
    overflow: clip;
    width: 50px;
    height: 50px;
}

.avatar img{
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;
}

.avatar:hover .login-dropdown{
    display:block;
    animation-name: movediv;
    animation-duration: 0.5s;
}

.login-dropdown {
    display: none;
    position: absolute;
    right: 15px;
    border-radius: 20px;
    background: transparent;
    top: 70px;
    width: 65px;
    height: 25px;
    text-align: center;
}

@keyframes movediv {
    0% {top: 30px;}
    100% {top: 70px;}
}

.login-button {
    background: white;
    border-radius: 15px;
    padding: 4px 15px;
    height: 20px;
}

.login {
    display: block ruby;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.login div {
    border: 3px solid #ff80b0;
    transition: 0.3s;
}

.login button,
.login a {
    text-decoration: none;
    color: black;
    border: none;
    background: transparent;
    font-size: 15px;
    transition: .2s;
}

.login-dropdown button {
    border: 3px solid #ff80b0;
    transition: 0.3s;
    border-radius: 15px;
    background: #ffffff;
    margin-top: 5px;
    width: 80px;
}

.login div:hover,
.submit-btn:hover {
    background: white;
    border-color: #ff5e9c;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login {
        display: block;
    }
}

/* Index Page */

.content {
    max-width: 72rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 10px;
}

.grid-col-2 {
    grid-column: span 2;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
}

.grid-col-3 {
    grid-column: span 3;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
}

.grid-col-2:hover,
.grid-col-3:hover,
.featured-post-container:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Dropdown */

.category-dropdown {
    display: flex;
    justify-content: center;
}

.dropdown-button, .create-dropdown {
    text-decoration: none;
    background-color: #ffffff;
    border: 3px #ff80b0 solid;
    border-radius: 15px;
    color: black;
    padding: 5px 7px;
    width: 98px;
    margin-top: 15px;
    transition: .3s;
}

.dropdown-button:hover {
    cursor: pointer;
    border-color: #ff5e9c;
}

.dropdown-links {
    display: grid;
    background-color: #e7e7e7;
    width: auto;
    position: absolute;
    padding: 5px 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-links a {
    text-decoration: none;
    color: black
}

.dropdown-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Post Container */

.post-container {
    padding: 10px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.container-title {
    margin-bottom: 10px;
    margin-top: 30px;
    color: #ff80b0;
    width: 370px;
}

.container-title span {
    color: rgb(90, 90, 90);
}

.featured-text {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
}

.featured-text .container-title {
    margin-top: 0px;
}

.featured-text .container-categories {
    margin-top: 25px;
}

.container-categories {
    position: absolute;
    right: 5px;
}

.container-categories a,
.show-category a {
    text-decoration: none;
    background-color: #ffe1ed;
    border: 3px #ff80b0 solid;
    border-radius: 15px;
    color: black;
    padding: 5px 7px;
    transition: .3s;
}

.container-categories a:hover,
.show-category a:hover {
    border-color: #ff5e9c;
}

.small-img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(75, 75, 75);
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.show-container .small-img {
    margin-top: 5px;
}

.container-excerpt {
    line-height: 1.5;
    margin-bottom: 70px;
    overflow: hidden;
}

.container-footer {
    display: block ruby;
}


.container-author {
    display: flex;
    position: absolute;
    bottom: 25px;
}

.show-container .container-author {
    position: initial;
}

.featured-post-container .container-author {
    bottom: 0;
}

.featured-post-container .read-btn {
    bottom: 5px;
}

.author-image {
    width: auto;
    height: 50px;
    border-radius: 100%;
    border: 2px #ff80b0 solid;

}

.container-author div {
    margin-left: 5px;
    margin-top: 10px;
}

.container-author a {
    color: #ff80b0;
    text-decoration: none;
    border-bottom: 1px #ffffff solid;
}

.container-author a:visited {
    color: #ff5e9c;
    border-color: #ff5e9c;
}

.read-btn,
.login-form button, .del-btn {
    float: right;
    border: 3px #ff80b0 solid;
    border-radius: 15px;
    padding: 5px 7px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    position: absolute;
    right: 10px;
    bottom: 35px;
}

.login-form button, {
    position: initial;
}

.read-btn:hover,
.login-form button:hover {
    border-color: #ff5e9c;
    cursor: pointer;
}

.featured-post-container {
    padding: 10px;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.featured-post-container article {
    display: flex;
}

.featured-img {
    max-width: 100%;
    max-height: 300px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(75, 75, 75);
    width: auto;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .card-grid {
        display: initial;
    }

    .featured-post-container article {
        display: initial;
    }

    .featured-img {
        margin-bottom: 20px;
        max-height: 100%;
    }

    .featured-text .container-categories {
        margin-top: 0px;
    }

    .grid-col-2,
    .grid-col-3 {
        margin-bottom: 10px;
    }
}

/* Show Page */

.show-container {
    margin: auto;
    width: 750px;
    background: #ececec;
    border-radius: 25px;
    padding: 2px 10px;
    position: relative;
}

.show-title {
    color: #ff80b0;
    width: 600px;
}

.show-category {
    right: 15;
    top: 20;
    position: absolute;
}

/* login forms */

.login-form {
    text-align: center;
}

.login-form main {
    color: #ff5e9c;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 300px;
    padding: 1px 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-form button {
    float: none;
    margin-top: 5px;
}

/* article creator*/

.article-creator {
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
    background: #ececec;
    border-radius: 15px;
}

.article-creator form {
    text-align: center;
}

.article-creator textarea {
    height: 2500px;
    resize: none;
}

.article-creator #title {
    height: 34px;
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.create-dropdown {
    width: auto;
    margin-bottom: 15px;
    margin-top: 0px;
}

.article-creator textarea,
.article-creator input {
    width: 750px;
    border-radius: 10px;
    border: 2px solid #ff80b0;
    margin-bottom: 20px;
}

.submit-btn {
    position: fixed;
    border: none;
    color: white;
    background-color: #ff80b0;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 42px;
    transition: .2s;
    right: 40px;
    bottom: 20px;
    float: right;
}

.submit-btn:hover {
    background-color: #ff5e9c;
}

.del-btn {
    position: fixed;
    border: none;
    color: white;
    background-color: #FF3034;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 42px;
    transition: .2s;
    right: 120px;
    bottom: 20px;
    float: right;
}

.del-btn:hover {
    background-color: #FF1032;
}

@media screen and (max-width: 1000px) {
    .article-creator {
        width: 52rem;
    }
}

footer {
    margin: 0px 5px;
}