/* refrac + format Stylesheet */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.flashSuccess {
    position: fixed;
    text-align: center;
    width: 100%;
    transition: .3s;
}

.flashSuccess span {
    background: white;
    border: 2px #ff80b0 solid;
    border-radius: 15px;
    padding: 3px 5px;
}

.create-article {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff80b0;
    border: 1px #ff80b0 solid;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.create-article a {
    display: block;
    font-size: 80px;
    text-decoration: none;
    color: white;
    margin-top: -24px;
}

.create-article:hover {
    filter: brightness(85%);
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    float: left;
    margin-top: -30px;
}

.title a {
    text-decoration: none;
}

.title h1 {
    color: #ff80b0;
    text-shadow: rgba(0, 0, 0, 0.3) 2px -1px;
}

.title p {
    margin-top: -20px;
}

.login {
    display: block ruby;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.login div {
    border: 3px solid #ff80b0;
    border-radius: 15px;
    padding: 4px 15px;
    transition: 0.3s;
}

.login button,
.login a {
    text-decoration: none;
    color: black;
    border: none;
    background: white;
    font-size: 15px;
}

.login div:hover {
    background: white;
    border-color: #ff5e9c;
}

@media screen and (max-width: 1000px) {
    .login {
        display: block;
    }
}

/* Index Page */

.content {
    max-width: 72rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 10px;
}

.grid-col-2 {
    grid-column: span 2;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
}

.grid-col-2:hover {
    background: rgba(0, 0, 0, 0.1);
}

.grid-col-3 {
    grid-column: span 3;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
}

.grid-col-3:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Dropdown */

.category-dropdown {
    display: flex;
    justify-content: center;
}

.dropdown-button {
    text-decoration: none;
    background-color: #ffffff;
    border: 3px #fb99be solid;
    border-radius: 15px;
    color: black;
    padding: 5px 7px;
    width: 98px;
    margin-top: 15px;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-links {
    display: grid;
    text-align: center;
    background-color: #e7e7e7;
    width: 78px;
    margin-left: 10px;
    position: absolute;
    padding: 5px 0px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-links a {
    text-decoration: none;
    color: black
}

.dropdown-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Post Container */

.post-container {
    padding: 10px;
    transition: 0.3s;
    overflow: hidden;
}

.container-title {
    margin-bottom: 10px;
    color: #ff80b0;
    width: 400px;
}

.container-title span {
    color: rgb(90, 90, 90);
}

.featured-text .container-categories {
    margin-top: -75px;
}

.container-categories {
    float: right;
}

.container-categories a {
    text-decoration: none;
    background-color: #ffe1ed;
    border: 3px #fb99be solid;
    border-radius: 15px;
    color: black;
    padding: 5px 7px;
    transition: .3s;
}

.container-categories a:hover {
    background-color: #fdcbdf;
    border-color: #ff5e9c;
}

.small-img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(75, 75, 75);
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.container-excerpt {
    line-height: 1.5;
}

.container-footer {
    display: block ruby;
}


.container-author {
    display: flex;
}


.author-image {
    width: auto;
    height: 50px;
    border-radius: 25px;
}

.container-author div {
    margin-left: 5px;
    margin-top: 10px;
}

.read-btn {
    float: right;
    border: 3px #ff80b0 solid;
    border-radius: 15px;
    padding: 5px 7px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.read-btn:hover {
    border-color: #ff5e9c;
}

.featured-post-container {
    padding: 10px;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-radius: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.featured-post-container article {
    display: flex;
}

.featured-post-container:hover {
    background: rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 1000px) {
    .card-grid {
        display: initial;
    }

    .featured-post-container article {
        display: initial;
    }

    .featured-img {
        margin-bottom: 20px;
    }

    .featured-text .container-categories {
        margin-top: -100px;
    }
}

.featured-img {
    max-width: 100%;
    max-height: 300px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(75, 75, 75);
    width: auto;
    height: auto;
}

/* Show Page */

.show-container {
    margin: auto;
    width: 750px;
    background: #ececec;
    border-radius: 25px;
    padding: 2px 10px;
}

.show-category {
    float: right;
    margin-top: -50px;
}

.show-category a {
    text-decoration: none;
    background-color: #ffe1ed;
    border: 3px #fb99be solid;
    border-radius: 15px;
    color: black;
    padding: 5px 7px;
    transition: .3s;
}

.show-category a:hover {
    background-color: #fdcbdf;
    border-color: #ff5e9c;
}

/* article creator*/

.article-creator {
    width: 72rem;
    margin-right: auto;
    margin-left: auto;
}

.article-creator textarea {
    width: 100%;
    height: 2500px;
    margin: 20px 50px;
    border-radius: 10px;
    border: 2px solid #b3b3b3;
}